.boxSizingBorder {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important
}

@font-face {
  font-family: 'MyriadProCondBold';
  src: url('../fonts/myriadpro-boldcond-webfont.eot');
  src: url('../fonts/myriadpro-boldcond-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/myriadpro-boldcond-webfont.woff') format('woff'),url('../fonts/myriadpro-boldcond-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'MyriadProCondRegular';
  src: url('../fonts/myriadpro-cond-webfont.eot');
  src: url('../fonts/myriadpro-cond-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/myriadpro-cond-webfont.woff') format('woff'),url('../fonts/myriadpro-cond-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('../fonts/myriadpro-regular-webfont.eot');
  src: url('../fonts/myriadpro-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/myriadpro-regular-webfont.woff') format('woff'),url('../fonts/myriadpro-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'MyriadProBold';
  src: url('../fonts/myriadpro-bold-webfont.eot');
  src: url('../fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/myriadpro-bold-webfont.woff') format('woff'),url('../fonts/myriadpro-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-ypmxj7');
  src: url('../fonts/icomoon.eot?#iefix-ypmxj7') format('embedded-opentype'),url('../fonts/icomoon.woff?-ypmxj7') format('woff'),url('../fonts/icomoon.ttf?-ypmxj7') format('truetype'),url('../fonts/icomoon.svg?-ypmxj7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal
}

.un-v1 {
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga"
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?5d5m3k');
  src: url('../fonts/icomoon.eot?5d5m3k#iefix') format('embedded-opentype'),url('../fonts/icomoon.ttf?5d5m3k') format('truetype'),url('../fonts/icomoon.woff?5d5m3k') format('woff'),url('../fonts/icomoon.svg?5d5m3k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal
}

[class^="icon-"],[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px
}

.icon {
  font-style: normal;
  text-transform: none
}

.icon-star-full:before {
  content: "\e9d9"
}

.icon-ok:before {
  content: "\e900"
}

.icon-calendar:before {
  content: "\e901"
}

.icon-close:before {
  content: "\e902"
}

.icon-delete:before {
  content: "\e903"
}

.icon-document:before {
  content: "\e904"
}

.icon-dot:before {
  content: "\e905"
}

.icon-down:before {
  content: "\e906"
}

.icon-elipsis:before {
  content: "\e907";
  vertical-align: middle;
  height: 12px;
  line-height: 16px;
  display: inline-block
}

.icon-filter:before {
  content: "\e908"
}

.icon-info:before {
  content: "\e909"
}

.icon-left:before {
  content: "\e90a"
}

.icon-link:before {
  content: "\e90b"
}

.icon-logout:before {
  content: "\e90c"
}

.icon-minus:before {
  content: "\e90d"
}

.icon-plus:before {
  content: "\e90f"
}

.icon-refresh:before {
  content: "\e910"
}

.icon-right:before {
  content: "\e911"
}

.icon-unlink:before {
  content: "\e912"
}

.icon-up:before {
  content: "\e913"
}

.icon-user:before {
  content: "\e914"
}

.icon-warning:before {
  content: "\e915"
}

.icon-warning-sign:before {
  content: "\ea07"
}

.icon-info-sign:before {
  content: "\ea0c"
}

.logo {
  width: 146px;
  height: 48px;
  border: 0 none
}

.stars {
  display: inline-block;
  line-height: 48px
}

.stars i {
  font-size: 16px
}

body {
  margin: 0;
  padding: 0
}

.un-v1 .header {
  vertical-align: center;
  height: 75px;
  position: relative;
  overflow: visible !important;
  width: 80%;
  margin-left: auto;
  margin-right: auto
}

.un-v1 .header>* {
  display: inline-block
}

.un-v1 .header:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: url("img/gradient.jpg") no-repeat center;
  background-size: 100% 100%;
  z-index: 1
}

.un-v1 .header>img {
  float: left;
  margin-left: 10px;
  margin-right: 25px;
  margin-top: 10px
}

.un-v1 .header .header-menu,.un-v1 .header .header-box {
  float: left;
  color: #f00;
  font-size: 15px;
  font-weight: bold
}

.un-v1 .header .header-menu,.un-v1 .header .header-user-menu {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative
}

.un-v1 .header .header-menu ul,.un-v1 .header .header-user-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: #fff;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  z-index: 10;
  right: -10px;
  left: -10px;
  top: 100%;
  margin-top: -20px;
  display: none
}

.un-v1 .header .header-menu ul li,.un-v1 .header .header-user-menu ul li {
  margin: 0;
  padding: 0;
  display: block;
  width: auto
}

.un-v1 .header .header-menu ul li a,.un-v1 .header .header-user-menu ul li a {
  padding: 1em;
  display: block;
  text-decoration: none;
  color: #f00
}

.un-v1 .header .header-menu ul li a:hover,.un-v1 .header .header-user-menu ul li a:hover {
  color: #f00
}

.un-v1 .header .header-menu .icon,.un-v1 .header .header-user-menu .icon {
  float: right;
  color: #f00;
  height: 8px;
  margin-top: -3px;
  margin-left: 2px
}

.un-v1 .header .header-menu:hover ul,.un-v1 .header .header-user-menu:hover ul {
  display: block
}

.un-v1 .header .header-user-menu {
  float: right
}

.un-v1 .header .header-user-menu .icon {
  float: right;
  color: #f00
}

.un-v1 .header .header-logout {
  float: right;
  padding: 8.5px 20px;
  margin-top: 11.5px;
  margin-bottom: 11.5px;
  border-left: 1px solid #e5e5e5;
  text-decoration: none;
  color: #f00
}

.progressbar {
  margin-bottom: 4px;
  background: #efefef;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden
}

.progressbar>h1 {
  font-size: 22.5px !important;
  font-family: 'MyriadProBold';
  float: left;
  margin-left: 45px
}

.progressbar ul {
  list-style-type: none;
  padding: 0;
  float: right;
  line-height: 48px;
  margin: 15px 30px 15px auto
}

.progressbar ul li {
  margin: 0;
  padding: 0;
  display: inline-block
}

.progressbar ul li .step-num {
  border-radius: 1em;
  background: #c0c0c0;
  color: #fff;
  text-align: center;
  margin: 0 0 0 10px;
  display: inline-block;
  width: 20px;
  line-height: 20px;
  font-style: normal;
  vertical-align: middle
}

.progressbar ul li span {
  text-transform: uppercase;
  color: #555;
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
  line-height: 15px
}

.progressbar ul li .icon-right {
  display: none;
  line-height: 21px;
  height: auto;
  vertical-align: middle;
  margin-left: -5px;
  width: 12px
}

.progressbar ul li.step-active .icon-step {
  background: #f00
}

.progressbar ul li.step-active .icon-right {
  color: #f00;
  display: inline-block
}

.progressbar ul li.step-active span {
  color: #f00;
  font-weight: bold
}

.progressbar ul li.step-visited span {
  color: #000;
  font-weight: bold
}

.progressbar ul li.step-visited .icon-right {
  display: inline-block
}

.un-v1 .single,.un-v1 .two-cols {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden
}

.un-v1 .row-1 .single {
  margin-left: 0;
  margin-right: 0
}

.un-v1 .two-cols .left {
  width: 58%;
  float: left
}

.un-v1 .two-cols .right {
  width: 40%;
  float: right
}

.un-v1 .row-4,.un-v1 .separator {
  clear: both;
  overflow: hidden
}

.un-v1 .row-4 .single,.un-v1 .row-4 .half,.un-v1 .row-4 .double,.un-v1 .row-4 .extended {
  width: 20%;
  margin-right: 5%;
  float: left;
  overflow: hidden
}

.un-v1 .row-4 .single-MinHeight {
  min-height: 83px
}

.un-v1 .row-4 .half {
  width: 10%
}

.un-v1 .row-4 .double {
  width: 45%
}

.un-v1 .row-4 .extended {
  width: 30%
}

.un-v1 .single-before,.un-v1 .single-before {
  margin-top: 12px
}

.un-v1 .single-after {
  margin-bottom: 12px
}

.un-v1 .double-before {
  margin-top: 24px
}

.un-v1 .row-1,.un-v1 .row-4 {
  padding-top: 6px;
  padding-bottom: 20px
}

.row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.row-flex .single {
  flex-basis: 20%;
  margin-right: 5%
}

.row-flex.row-4 .half {
  width: 10%
}

.row-flex.row-4 .double {
  width: 45%
}

.row-flex.row-4 .extended {
  width: 30%
}

.un-v1 .form-step {
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.cta-panel {
  margin: 20px 0
}

.cta-panel>button,.cta-panel>.button {
  margin-left: 0 !important;
  margin-right: 10px !important
}

.un-v1 .hide {
  display: none
}

.un-v1 .text-left {
  text-align: left
}

.un-v1 .text-justify {
  text-align: justify
}

.un-v1 .text-center {
  text-align: center
}

.un-v1 .line-height-normal {
  line-height: normal !important
}

.width-auto {
  width: auto !important
}

.un-v1 em {
  font-family: 'MyriadProCondRegular';
  font-style: normal;
  color: #808080;
  font-size: inherit;
  line-height: 0
}

strong {
  font-family: "MyriadProBold"
}

.suppress {
  color: #c0c0c0
}

.line-normal {
  line-height: 1.2em !important
}

a,.link {
  text-decoration: underline;
  color: #62bdff;
  cursor: pointer
}

.silverFont {
  color: #c0c0c0
}

.grayFont {
  color: #808080
}

.grayDarkFont {
  color: #737373
}

.grayDarkerFont {
  color: #555
}

.redFont {
  color: #f00
}

.redDarkFont {
  color: #df042a
}

.greenFont {
  color: #008000
}

.unionGreenFont {
  color: #95c557
}

.blueFont {
  color: #62bdff
}

.black {
  color: #000
}

.white {
  color: #fff
}

.un-v1 h1 {
  font-size: 32px;
  line-height: 48px
}

.un-v1 .heading {
  margin-top: 6px;
  border-bottom: solid 1px #c0c0c0;
  margin-bottom: 12px
}

.un-v1 .no-footer {
  margin-bottom: 5px
}

.un-v1 div {
  line-height: normal
}

.un-v1 .separator {
  width: 100%;
  line-height: 12px;
  padding-top: 8px;
  padding-bottom: 6px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.un-v1 .separator.h4 {
  font-size: 24px;
  color: #f00;
  font-family: "MyriadProBold"
}

.un-v1 .red-small h2 {
  font-family: "MyriadProRegular",sans-serif;
  color: #df042a;
  display: inline-block;
  position: relative;
  padding-right: 1em;
  font-size: 15px;
  background-color: #fff;
  margin: 8px 0 15px
}

hr {
  border-color: #fafafa;
  margin-top: 1.2em;
  margin-bottom: 1.2em
}

.un-v1 .section h2 {
  display: inline-block;
  margin: 8px 0 4px 0;
  font-size: 2.286em;
  font-family: 'MyriadProCondRegular';
  font-weight: normal;
  line-height: 36px
}

.un-v1 .section h2:after {
  content: " ";
  position: absolute;
  display: block;
  height: 1px;
  width: auto;
  left: 0;
  right: 0;
  background: url("img/gradient.jpg") no-repeat center;
  background-size: 100% 100%;
  z-index: 1
}

.un-v1 .section.title-red table th h2 {
  font-size: 1.94em
}

.un-v1 .section.title-red h2 {
  color: #df042a;
  font-size: 1.8em;
  font-weight: bold
}

.un-v1 .section h2 select {
  margin-top: -6px
}

.un-v1 dl {
  margin: 0;
  margin-top: 6px;
  margin-bottom: 5px;
  padding: 0;
  line-height: 12px;
  text-align: left
}

.un-v1 dl dt {
  text-transform: uppercase;
  font-size: 12px;
  color: #808080
}

.un-v1 dl dt,.un-v1 dl dd {
  text-align: left;
  margin: 0;
  padding: 0
}

.un-v1 dl dd:not(:last-child) {
  padding-bottom: 12px
}

ul {
  padding-left: 14px
}

ul.nobullets {
  list-style: none;
  padding-left: 0
}

.app {
  display: none
}

.app.success {
  display: block
}

.loading {
  background-color: #fff;
  font-family: "MyriadProRegular",sans-serif;
  font-weight: bold;
  height: 100%;
  opacity: 1;
  padding-top: 100px;
  position: fixed;
  text-align: center;
  top: 105px;
  width: 100%;
  z-index: 100
}

#loading_screen {
  background-color: #fff;
  font-family: "MyriadProRegular",sans-serif;
  font-weight: bold;
  height: 100%;
  background: rgba(255,255,255,0.6);
  padding-top: 100px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 100
}

#loading_screen span {
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -0.5em
}

.un-v1 .button.small {
  font-family: "MyriadProRegular";
  font-weight: normal;
  font-size: 12px;
  line-height: 15.5px;
  height: 18px;
  padding: 0
}

.un-v1 th .button.small {
  margin-top: -6px;
  margin-bottom: -4px
}

.un-v1 .button {
  line-height: 22px;
  font-size: 14px;
  margin-top: 3px;
  padding: 6px 12px 6px 12px;
  font-weight: bold;
  font-family: 'MyriadProBold'
}

.un-v1 .button:not(.link) {
  position: relative;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #737373;
  background-color: #efefef;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #d9d9d9));
  background-image: -o-linear-gradient(bottom, #fafafa 0, #d9d9d9 100%);
  background-image: -moz-linear-gradient(bottom, #fafafa 0, #d9d9d9 100%);
  background-image: -webkit-linear-gradient(bottom, #fafafa 0, #d9d9d9 100%);
  background-image: -ms-linear-gradient(bottom, #fafafa 0, #d9d9d9 100%);
  background-image: linear-gradient(to bottom, #fafafa 0, #d9d9d9 100%)
}

.un-v1 .button.primary {
  background-color: #df042a;
  background-image: none;
  border: 1px solid #b81111;
  color: #fff;
  font-weight: bold;
  font-family: 'MyriadProBold'
}

.un-v1 .button.next {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  position: relative;
  margin-right: 40px;
  height: 36px;
  width: auto
}

.un-v1 .button.next:before {
  content: '';
  position: absolute;
  right: -18px;
  top: -1px;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid #b81111
}

.un-v1 .button.next:after {
  content: '';
  position: absolute;
  right: -17px;
  top: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #df042a
}

.un-v1 .button.link {
  color: #62bdff;
  text-decoration: none;
  position: relative;
  background: transparent none;
  border: none;
  font-weight: normal;
  font-family: MyriadProRegular
}

.un-v1 .button.prev {
  display: inline-block;
  margin-right: 12.5px;
  position: relative;
  text-transform: uppercase;
  margin-left: 18px;
  width: auto;
  padding-left: 12px;
  padding-right: 12px
}

.un-v1 .button.prev:before {
  content: '';
  position: absolute;
  left: -17px;
  top: -1px;
  width: 19px;
  height: 36px;
  background: url("img/prev.png") no-repeat
}

.un-v1 .button.adjanced {
  text-align: center;
  line-height: 16px;
  margin-top: 28px
}

.un-v1 .inline,.un-v1 .button.inline {
  display: inline-block;
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px
}

.un-v1 .button.disabled,.un-v1 .button:disabled {
  color: #c0c0c0
}

.button.medium {
  padding: 3px 5px;
  font-weight: normal
}

.button.width-medium {
  width: auto !important;
  min-width: 131px;
  padding-right: 5px;
  padding-left: 5px
}

.un-v1 button>i,.un-v1 .button>i {
  vertical-align: middle
}

.un-v1 .button.nobutton {
  border-color: transparent !important;
  background-color: transparent !important;
  background-image: none !important
}

.un-v1 table {
  border-collapse: collapse;
  width: 100%
}

.un-v1 table th {
  padding-top: 12px;
  line-height: 12px;
  padding-bottom: 6px;
  vertical-align: top
}

.un-v1 table td {
  padding: 0;
  line-height: 23px;
  height: 23px
}

.un-v1 table tfoot tr.double td {
  height: 48px
}

.un-v1 table tbody tr.inline-form td .row-4 {
  padding-top: 5px;
  padding-bottom: 6px
}

.un-v1 th .button.small.icon {
  margin: 4px;
  padding-left: 5px
}

.un-v1 th .button.small.inline.icon.notext {
  padding: 3px 4px 1px 4px
}

.un-v1 .button.icon.no-text .caption {
  display: none
}

.un-v1 .button.icon .ui-icon {
  display: inline-block;
  vertical-align: sub
}

.un-v1 table tr td:not(:first-child),.un-v1 table tr th:not(:first-child) {
  border-left: solid 1px #ddd
}

.un-v1 table td,.un-v1 table th {
  padding-right: .5em;
  padding-left: .5em;
  font-size: 13px;
  vertical-align: top
}

.un-v1 table td:first-child,.un-v1 table th:first-child {
  text-align: left;
  padding-left: 0
}

.un-v1 a[href="#show-help"] {
  text-decoration: none;
  color: inherit
}

.un-v1 a[href="#show-help"]:before {
  content: "\e911";
  font-family: "icomoon";
  margin-right: 5px;
  text-decoration: none ! important
}

.un-v1 a[href="#show-help"].opened:before {
  content: "\e906"
}

.un-v1 table td:last-child,.un-v1 table th:last-child {
  padding-right: 0
}

.un-v1 table td:not(:first-child),.un-v1 table th:not(:first-child) {
  text-align: center
}

.un-v1 table tbody tr td,.un-v1 table tfoot tr:not(:last-child) td,.un-v1 table tr th {
  border-bottom: solid 1px #ddd
}

.un-v1 table th.active {
  background-color: #df042a;
  color: #fff
}

.un-v1 table td.active {
  background-color: #ffe
}

.un-v1 .glue-tables thead th {
  padding-top: 29px
}

.un-v1 table tbody tr.inline-form td {
  background-color: #f4f4f4;
  border-top: solid 2px #dfdfdf;
  border-bottom: solid 2px #dfdfdf;
  padding-left: 20px
}

.un-v1 #summary-parameters td:last-child,.un-v1 #summary-product td:last-child {
  width: 20%
}

#summary-product thead tr:first-child th:nth-child(2),#summary-parameters td:nth-child(2) {
  width: 40%;
  text-align: left
}

.un-v1 table.recap thead tr th,.un-v1 table.recap tbody tr td {
  text-align: left
}

.un-v1 table.recap thead tr:last-child th {
  border-bottom: 0 none
}

.un-v1 table.recap tbody tr:last-child td {
  border-bottom: 0 none
}

.un-v1 table.recap tr td[colspan="2"] {
  width: 50%
}

.un-v1 .separator.error,.un-v1 .separator.warning,.un-v1 .separator.tip {
  line-height: 12px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 9px
}

.un-v1 .separator.error h2,.un-v1 .separator.warning h2,.un-v1 .separator.tip h2 {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  background-color: transparent
}

.un-v1 .separator.error div,.un-v1 .separator.warning div,.un-v1 .separator.tip div {
  margin-top: 9px;
  margin-bottom: 3px
}

.un-v1 .step-invalid .has-error .error,.un-v1 .step-invalid .has-validation.has-error .error {
  margin-top: 12px;
  max-height: none
}

.un-v1 .separator h4 {
  margin: 0;
  line-height: 22px
}

.un-v1 .separator:not(.error , .warning, .tip):before {
  position: absolute;
  top: 23px;
  z-index: 0;
  left: 0;
  width: 100%;
  content: '';
  border-bottom: solid 1px #eee
}

.un-v1 .separator h4 {
  color: #df042a;
  display: inline-block;
  background-color: #fff;
  z-index: 1;
  position: relative;
  padding-right: 1em;
  text-transform: uppercase;
  font-size: .855em
}

.un-v1 .separator h2 {
  font-family: "MyriadProCondRegular",sans-serif;
  color: #df042a;
  display: inline-block;
  background-color: #fff;
  z-index: 1;
  position: relative;
  padding-right: 1em;
  font-size: 25.2px;
  margin: 8px 0 4px
}

.un-v1 .separator.error,.un-v1 .separator.warning,.un-v1 .separator.tip {
  background-color: rgba(255,0,0,0.2);
  border: solid 1px #f00;
  border-radius: 4px;
  padding-left: 34px
}

.un-v1 .separator.error h2,.un-v1 .separator.warning h2,.un-v1 .separator.tip h2 {
  font-family: 'MyriadProCondRegular';
  font-weight: normal;
  position: relative;
  color: #f00
}

.un-v1 .separator.error h2:before,.un-v1 .separator.warning h2:before,.un-v1 .separator.tip h2:before {
  content: "\e915";
  font-family: 'icomoon';
  position: absolute;
  left: -28px
}

.un-v1 .separator.error {
  color: #f00
}

.un-v1 .separator.warning {
  background-color: rgba(255,255,0,0.2);
  border: solid 1px #ff0;
  color: #000
}

.un-v1 .separator.warning h2 {
  color: #000
}

.un-v1 .separator.warning h2:before {
  content: "\ea07"
}

.un-v1 .separator.tip h2 {
  color: #008000
}

.un-v1 .separator.tip {
  background-color: rgba(0,255,0,0.2);
  border: solid 1px #008000;
  color: #008000
}

.un-v1 .separator.tip h2:before {
  content: "\ea0c"
}

.un-v1 section>.separator.error,.un-v1 section>.separator.warning,.un-v1 section>.separator.tip {
  margin-left: -45px;
  margin-right: -45px;
  width: auto
}

.alert {
  display: inline-block;
  line-height: 30px !important;
  background-color: rgba(98,189,255,0.2);
  border: solid 1px #62bdff;
  border-radius: 4px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px
}

.alert h2,.alert.separator h2 {
  color: #62bdff;
  background-color: transparent
}

.alert .button.inline {
  vertical-align: baseline;
  margin-top: 0
}

.un-v1 .step-invalid .error,.un-v1 .step-invalid .has-error {
  color: #f00;
  border-color: #f00
}

.un-v1 .has-error .error {
  visibility: hidden;
  display: block;
  line-height: 16px
}

.un-v1 .step-invalid .has-error .error {
  font-family: MyriadProRegular,sans-serif;
  font-weight: normal;
  display: block;
  visibility: visible
}

.un-v1 .calendar label:before {
  content: "\e901";
  font-family: "icomoon";
  position: absolute;
  right: 5px;
  bottom: -115%;
  font-weight: normal
}

.un-v1 .table-help {
  display: none;
  color: #555;
  background-color: #f4f4f4
}

.un-v1 .table-help td {
  border-color: #e5e5e5 ! important
}

.un-v1 .table-help td:first-child {
  padding-left: 25px
}

.un-v1 .edit-grid .has-fields td:nth-child(n+3) {
  -webkit-box-shadow: inset 0 4px 7px -3px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 4px 7px -3px rgba(0,0,0,0.2);
  box-shadow: inset 0 4px 7px -3px rgba(0,0,0,0.2)
}

.un-v1 .edit-grid .has-fields td:nth-child(n+3) input,.un-v1 .edit-grid .has-fields td:nth-child(n+3) select {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent
}

table.fixed thead {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 100
}

table.edit-grid th,table.edit-grid tbody td {
  width: auto
}

table.edit-grid th:nth-child(1),table.edit-grid tbody td:nth-child(1),table.edit-grid tfoot td:nth-child(1) {
  width: 300px
}

table.edit-grid th:nth-child(2),table.edit-grid tbody td:nth-child(2),table.edit-grid tfoot td:nth-child(2) {
  width: 28px
}

table.edit-grid th:last-child,table.edit-grid tbody td:last-child {
  width: 160px
}

table.edit-grid th:last-child,table.edit-grid.more-persons tbody td:last-child {
  width: 28px
}

table.edit-grid tfoot td:last-child {
  width: auto
}

table.edit-grid thead th.right {
  border-right: none;
  text-align: right
}

table.edit-grid thead th {
  border-bottom: solid 2px #808080
}

table.edit-grid tfoot {
  border-top: solid 2px #808080
}

table.fixed tfoot {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 100
}

table.edit-grid tfoot tr:last-child td:last-child {
  text-align: left;
  padding-left: 1em
}

table.fixed {
  margin-top: 3em;
  margin-bottom: 6em
}

.un-v1 table tr.section td:not(:last-child) {
  border-right: dotted 1px #efefef
}

.un-v1 table tr.section td:first-child {
  text-transform: uppercase;
  color: #c0c0c0
}

table.edit-grid tr td:nth-child(n+3),table.edit-grid tr th:nth-child(n+3) {
  padding: 0;
  height: 3em
}

table.edit-grid input[type='text'] {
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  height: 3em;
  border-radius: 0
}

table.edit-grid input[type='text']:focus {
  outline: none;
  border-color: #000
}

table.edit-grid select {
  border-color: transparent;
  border-radius: 0;
  border-width: 2px;
  height: 3em
}

@-moz-document url-prefix() {
  table.edit-grid select {
    padding-top: .7em
  }
}

table.edit-grid select option {
  height: 2.3em;
  padding-top: .7em
}

table.edit-grid select:focus {
  outline: none;
  border-color: #000
}

table.edit-grid tr td:nth-child(n+3) input[type='checkbox'] {
  margin-left: auto;
  margin-right: auto;
  display: block
}

.dob,table.edit-grid .price {
  overflow: hidden;
  position: relative;
  text-align: left
}

table.edit-grid .price {
  width: inherit;
  border: solid 2px transparent
}

table.edit-grid .price input {
  width: 80%;
  text-align: right
}

table.edit-grid .price:after {
  content: '€';
  color: #000;
  position: absolute;
  left: 80%;
  line-height: 3em ! important;
  border-top: solid 1px transparent;
  z-index: 0
}

table.edit-grid .unique .price.disabled:after {
  color: #c0c0c0
}

table.edit-grid td {
  vertical-align: middle
}

.un-v1 table.edit-grid .unique [disabled],.un-v1 table.edit-grid .unique td:nth-child(n+4) {
  background-color: #f4f4f4 ! important;
  color: #c0c0c0
}

.un-v1 table.edit-grid .unique td.enabled {
  background-color: #fff ! important;
  color: #000
}

.un-v1 table.edit-grid .unique td.disabled {
  background-color: #f4f4f4 ! important;
  color: #c0c0c0
}

.un-v1 table.edit-grid .unique td.center select {
  text-align: center
}

.dob.has-focus,table.edit-grid .price.has-focus {
  border-color: #000
}

.dob input {
  float: left;
  padding-left: 0;
  padding-right: 0;
  margin-right: 1% !important;
  width: 32.3333% !important;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px !important
}

.dob input:focus,table.edit-grid .price input:focus {
  border-color: transparent
}

.dob input:last-child {
  width: 40%
}

.negotiation {
  margin: 10px auto;
  max-width: 50em;
  overflow: hidden
}

.negotiation .row {
  margin-top: 5px;
  overflow: hidden
}

.negotiation .row-block {
  margin-top: 15px
}

.negotiation .row>.row-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px
}

.negotiation .row>.row-input>label,.negotiation .row>.row-input>div.label-static {
  font-size: 14px;
  font-weight: bold;
  display: block;
  width: 100%;
  overflow: hidden
}

.negotiation .row>.row-input>label>strong,.negotiation .row>.row-input>div.label-static>strong {
  display: block;
  float: left;
  width: 50%;
  text-align: left;
  line-height: 2em
}

.negotiation .row>.row-input>label>input,.negotiation .row>.row-input>div.label-static>input,.negotiation .row>.row-input>label>select,.negotiation .row>.row-input>div.label-static>select,.negotiation .row>.row-input>label>.input-static,.negotiation .row>.row-input>div.label-static>.input-static,.negotiation .row>.row-input>label>div,.negotiation .row>.row-input>div.label-static>div {
  display: block;
  float: left;
  width: 50%
}

.negotiation .row>.row-input>label>div>div.inputInner>input[type=text],.negotiation .row>.row-input>div.label-static>div>div.inputInner>input[type=text] {
  width: 100%
}

.negotiation .gwt-CheckBox {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  text-align: left
}

.negotiation .gwt-CheckBox input {
  position: absolute;
  top: 2px
}

.negotiation .gwt-CheckBox label {
  padding-left: 25px;
  display: block
}

.negotiation .text-center {
  text-align: center
}

.negotiation textarea {
  background: #fff
}

.negotiation .row>textarea {
  width: 96.5%;
  height: auto;
  font-size: 14px;
  font-weight: bold
}

.negotiation .col-50 {
  width: 50% !important;
  float: left
}

.negotiation .col-50 input[type=text],.negotiation .col-50 input[type=email],.negotiation .col-50 input[type=tel],.negotiation .col-50 input[type=number] {
  width: 100%
}

.negotiation textarea {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #b4b4b4 #ddd #ddd;
  border-image: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding-left: .5em;
  padding-right: .5em;
  box-sizing: border-box
}

.negotiation table,.negotiation table td {
  border: 0 none !important
}

.negotiation table td,.negotiation table th {
  display: table-cell !important
}

.negotiation .column {
  float: left;
  margin-right: 1em
}

.negoAdd>span {
  display: block;
  margin-top: 7px
}

.gwt-RadioButton input[type=radio] {
  vertical-align: text-top
}

.gwt-RadioButton>label {
  display: inline-block
}

.un-v1 .negotiation label,.un-v1 .negotiation .label,.un-v1 .negotiation .list-label {
  display: inline-block;
  white-space: normal
}

.card-package {
  flex-basis: 23%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 2%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1.5px solid #dfdfdf;
  padding: 16.5px;
  position: relative;
  padding-bottom: 14.5px !important;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px
}

.card-package input {
  vertical-align: middle;
  margin-right: 15px
}

.card-package label {
  display: inline-block !important;
  font-family: 'MyriadProCondRegular' !important;
  font-weight: normal !important;
  font-size: 24px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #df042a;
  margin: 0 0 0 0;
  padding-bottom: 0;
  width: 20%;
  vertical-align: middle
}

.card-package div {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  width: 70%
}

.card-package div span {
  display: inline-block
}

.card-package div span:first-of-type {
  padding-right: 30%
}

.card-package .card-package-price {
  top: calc(50% - 24px);
  right: 20px;
  position: absolute;
  font-size: 24px;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px
}

.card-package.active {
  border: 3px solid #767670;
  padding: 14.5px 14.5px;
  background: #ffe;
  padding-bottom: 14.5px !important
}

.risk-card-container,.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.risk-card,.card {
  flex-basis: 23%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 2%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1.5px solid #dfdfdf;
  padding: 16.5px;
  position: relative;
  padding-bottom: 65px !important;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px
}

.risk-card h3,.card h3 {
  font-family: 'MyriadProCondRegular';
  font-size: 24px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #df042a;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  font-weight: normal
}

.risk-card h3 label,.card h3 label {
  margin: -16.5px;
  padding: 15.5px;
  font-family: 'MyriadProCondRegular';
  font-size: 24px;
  font-weight: normal;
  display: block;
  border-bottom: 1px solid #e3e2d0
}

.risk-card h3 i.icon,.card h3 i.icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  font-size: 35px;
  color: #000
}

.risk-card .risk-card-footer,.card .risk-card-footer,.risk-card .card-footer,.card .card-footer {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 50px;
  border-top: 1px solid #e3e2d0;
  padding: 15px;
  font-family: "MyriadProBold";
  font-size: 15px
}

.risk-card .risk-card-footer small,.card .risk-card-footer small,.risk-card .card-footer small,.card .card-footer small {
  color: #737373;
  font-family: "MyriadProRegular";
  font-size: 12px
}

.risk-card .risk-card-footer.no-border,.card .risk-card-footer.no-border,.risk-card .card-footer.no-border,.card .card-footer.no-border {
  border-top: 0 none
}

.risk-card .row-1,.card .row-1 {
  padding-top: 2px;
  padding-bottom: 8px
}

.risk-card.active,.card.active {
  border: 3px solid #767670;
  padding: 14.5px 14.5px;
  background: #ffe;
  padding-bottom: 63px !important
}

.risk-card.active h3 label,.card.active h3 label {
  margin: -14.5px;
  padding: 13.5px
}

.risk-card.active .risk-card-footer,.card.active .risk-card-footer,.risk-card.active .card-footer,.card.active .card-footer {
  padding: 15px 13px 13px 13px;
  min-height: 48px
}

.card-MinHeight {
  min-height: 300px
}

#confirmContainer {
  display: none;
  background-color: rgba(255,255,255,0.6);
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0
}

.confirmBox {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #aaa;
  width: 300px;
  margin: 150px auto 0;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  z-index: 10;
  font-family: 'MyriadProRegular',sans-serif;
  box-shadow: 0 0 18px rgba(0,0,0,0.4)
}

.confirmBox button.button {
  padding-left: 12px;
  padding-right: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #dfdfdf;
  border-right: none;
  cursor: pointer;
  height: 38px;
  width: 40%;
  display: inline-block;
  margin: 5px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px
}

.confirmBox button.no {
  font-family: 'MyriadProBold'
}

.confirmBox .button.primary {
  background-color: #df042a;
  background-image: none;
  border: 1px solid #b81111;
  color: #fff;
  font-weight: bold;
  font-family: 'MyriadProBold'
}

.confirmBox span:hover {
  background-color: #ddd
}

.confirmBox .message {
  text-align: left;
  margin-bottom: 20px;
  word-break: break-word
}

.un-v1,.un-v1 input,.un-v1 .custom-input,.un-v1 select,.un-v1 .separator h4,.un-v1 table.edit-grid tfoot td {
  font-weight: normal;
  font-size: 14px;
  font-family: 'MyriadProRegular',sans-serif
}

.un-v1 .required:not(.radio) label:after,.un-v1 .radio.required .label:after {
  content: '*';
  vertical-align: top;
  display: inline;
  line-height: 20px
}

.hint {
  color: #c0c0c0;
  margin-top: 5px
}

.un-v1 label,.un-v1 .label,.un-v1 .list-label {
  display: block;
  position: relative;
  line-height: 24px;
  font-weight: bold;
  font-family: 'MyriadProBold';
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

.un-v1 .radio.row label,.un-v1 .radios label,.un-v1 .checkboxes label {
  float: left;
  width: auto;
  font-weight: normal
}

.un-v1 .row-4 .radio.row label {
  width: 20%;
  margin-right: 5%;
  margin-bottom: 6px
}

.un-v1 label.disabled,.un-v1 .label.disabled {
  color: #636363
}

.un-v1 .custom-autocomplete {
  padding-right: 32px !important
}

.un-v1 .custom-autocomplete.autocomplete-shown {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important
}

.un-v1 .custom-autocomplete+.icon-elipsis {
  position: absolute;
  margin-left: -30px;
  color: #df042a
}

.ui-autocomplete {
  margin-top: -4px;
  font-family: 'MyriadProRegular'
}

.ui-autocomplete.ui-widget.ui-widget-content {
  border: 2px solid #000;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0 none
}

.ui-autocomplete.ui-menu .ui-menu-item-wrapper {
  padding: 3px .5em;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 20px;
  font-size: 14px
}

.ui-autocomplete.ui-menu .ui-state-focus,.ui-autocomplete.ui-menu .ui-state-active {
  margin: 0;
  font-weight: bold;
  border: 0 none
}

.ui-autocomplete .ui-state-active,.ui-autocomplete .ui-widget-content .ui-state-active {
  border: 0 none
}

.has-clearfield {
  padding-right: 32px
}

.has-clearfield+.icon.icon-close,.has-clearfield+.icon+.icon.icon-close {
  position: absolute;
  margin-left: -28px;
  margin-top: 5px;
  cursor: pointer
}

.has-clearfield[type=number]+.icon.icon-close,.has-clearfield[type=number]+.icon+.icon.icon-close,.has-clearfield+.icon+.icon.icon-close {
  margin-left: -50px
}

.clearfield-hide+.icon.icon-close,.clearfield-hide+.icon+.icon.icon-close {
  display: none
}

.un-v1 .checkbox.list label,.un-v1 .radio.list label {
  font-size: 13px;
  font-weight: normal;
  font-family: 'MyriadProRegular'
}

.un-v1 .checkbox.list .list-label,.un-v1 .radio.list .list-label {
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  font-family: 'MyriadProBold'
}

.more-info {
  margin: 20px 0;
  cursor: pointer
}

.more-info>span {
  color: #62bdff
}

.more-info>span span {
  text-decoration: underline;
  color: #62bdff;
  cursor: pointer;
  margin-right: 5px
}

.more-info>span i {
  color: #62bdff
}

.more-info-text {
  display: none
}

label .more-info,.label .more-info {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  position: absolute
}

label .more-info .icon,.label .more-info .icon {
  vertical-align: top
}

.has-more-info::after,.has-more-info::after {
  margin-left: -2px !important
}

.app>section {
  transition: filter ease 500ms
}

body.more-info-panel-show .app>section {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px)
}

body.more-info-panel-show .app #more-info-panel {
  opacity: 1;
  right: 0
}

#more-info-panel {
  transition: all ease 500ms;
  opacity: 0;
  overflow: auto;
  min-width: 500px;
  max-width: 33%;
  padding: 80px 60px;
  position: fixed;
  z-index: 100;
  bottom: 0;
  top: 0;
  right: -500px;
  background: #e7e7e7;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

#more-info-panel button.close {
  position: absolute;
  top: 80px;
  right: 60px;
  cursor: pointer
}

#more-info-panel .more-info-panel-content h1:first-child,#more-info-panel .more-info-panel-content h2:first-child,#more-info-panel .more-info-panel-content h3:first-child,#more-info-panel .more-info-panel-content h4:first-child {
  margin-top: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 100px
}

.un-v1 input[type=text],.un-v1 input[type=number],.un-v1 input[type=tel],.un-v1 input[type=email],.un-v1 .custom-input,.un-v1 select {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 14px
}

.un-v1 .inline-form label {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 12px;
  padding-bottom: 4px
}

.un-v1 input[type=text],.un-v1 input[type=number],.un-v1 input[type=tel],.un-v1 input[type=email],.un-v1 .custom-input,.un-v1 select,.un-v1 .error,.un-v1 .button,.un-v1 .header {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.un-v1 input[type=text],.un-v1 input[type=number],.un-v1 input[type=tel],.un-v1 input[type=email],.un-v1 .custom-input,.un-v1 select {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-left: .5em;
  padding-right: .5em;
  height: 30px
}

.un-v1 input[type=text]:focus,.un-v1 input[type=number]:focus,.un-v1 input[type=tel]:focus,.un-v1 input[type=email]:focus,.un-v1 .custom-input:focus,.un-v1 select:focus,.un-v1 .required input[type=text]:focus,.un-v1 .required input[type=number]:focus .un-v1 .required input[type=tel]:focus,.un-v1 .required input[type=email]:focus {
  outline: none;
  border-color: #000
}

.un-v1 .step-invalid .has-error input[type=text],.un-v1 .step-invalid .has-error input[type=number],.un-v1 .step-invalid .has-error input[type=tel],.un-v1 .step-invalid .has-error input[type=email],.un-v1 .step-invalid .has-error .custom-input,.un-v1 .step-invalid .has-error select,.un-v1 .step-invalid .has-error.required input[type=text],.un-v1 .step-invalid .has-error.required input[type=number] .un-v1 .step-invalid .has-error.required input[type=tel],.un-v1 .step-invalid .has-error.required input[type=email] {
  outline: none;
  border-color: inherit
}

.un-v1 .required select,.un-v1 .required input[type=text],.un-v1 .required input[type=number],.un-v1 .required input[type=tel],.un-v1 .required input[type=email],.un-v1 .required .custom-input {
  border-width: 2px;
  border-color: inherit
}

.un-v1 label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.un-v1 .separator {
  position: relative
}

.un-v1 .required {
  border-color: #888
}

.un-v1 .dateFields {
  border-color: inherit
}

.un-v1 .has-validation .error {
  min-height: 16px;
  max-height: 16px;
  margin-top: 12px;
  display: block;
  font-family: MyriadProRegular,sans-serif;
  font-weight: normal
}

.un-v1 .has-validation .error+.error {
  display: none
}

.un-v1 .range-input {
  position: relative
}

.un-v1 .range-input i {
  position: absolute;
  top: 3px;
  left: 0;
  cursor: pointer;
  color: #df042a;
  z-index: 2
}

.un-v1 .range-input i:last-child {
  left: auto;
  right: 0
}

.un-v1 .range-input span {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px 26px;
  text-align: center;
  line-height: 24px
}

.un-v1 .range-input:focus span {
  border: 1px dotted #000;
  padding: 0 25px
}

.halfsingle {
  width: calc(48%);
  display: inline-block
}

@media (max-width: 1400px) {
  .un-v1 .form-step,.un-v1 .header,.un-v1 .progressbar {
    width:95%
  }

  .un-v1 .single,.un-v1 .two-cols {
    width: 95%
  }

  .un-v1 .row-4 .single,.un-v1 .row-4 .half,.un-v1 .row-4 .double,.un-v1 .row-4 .extended {
    width: 23%;
    margin-right: 2%;
    float: left;
    overflow: hidden
  }

  .un-v1 .row-4 .half {
    width: 11.5%
  }

  .un-v1 .row-4 .double {
    width: 48%
  }

  .un-v1 .row-4 .extended {
    width: 30%
  }
}

@media (max-width: 1200px) {
  .card-package div span {
    display:block;
    padding-right: 0 !important
  }

  .card-package .card-package-price {
    top: calc(50% - 30px)
  }

  .risk-card {
    flex-basis: 32%;
    margin-right: 1%
  }
}

@media (max-width: 1100px) {
  .progressbar>h1 {
    float:none
  }

  .progressbar ul {
    float: none;
    display: block;
    margin: 15px 35px
  }
}

@media (max-width: 800px) {
  .card-package label {
    min-width:80%
  }

  .card-package div {
    display: block;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%
  }

  .card-package .card-package-price {
    top: unset;
    bottom: 0
  }

  .risk-card {
    flex-basis: 49%;
    margin-right: 1%
  }
}

@media (max-width: 500px) {
  .risk-card {
    flex-basis:100%
  }

  .progressbar ul li {
    display: block
  }

  .vehicles li,.vehicles .vehicle {
    float: none;
    display: block;
    margin: 0 auto
  }

  .vehicles li:last-child,.vehicles .vehicle:last-child {
    margin: 0 auto
  }

  .un-v1 .button.next {
    float: right
  }
}

@media (min-width: 1000px) {
  .hide-desktop {
    display:none
  }
}

@media (min-width: 800px) and (max-width:1200px) {
  .un-v1 .row-4 .single,.un-v1 .row-4 .half,.un-v1 .row-4 .double,.un-v1 .row-4 .extended {
    width:28%;
    margin-right: 5%
  }

  .un-v1 .row-4 .half {
    width: 45%
  }

  .un-v1 .row-4 .double {
    width: 95%
  }

  .un-v1 .row-4 .extended {
    width: 70%
  }
}

@media (min-width: 800px) and (max-width:999px) {
  .hide-tablet {
    display:none
  }

  .un-v1 .single,.un-v1 .two-cols {
    width: 90%
  }
}

@media (min-width: 600px) and (max-width:799px) {
  .hide-tablet {
    display:none
  }

  .un-v1 .single,.un-v1 .two-cols {
    width: 97%
  }

  .un-v1 .row-4 .single,.un-v1 .row-4 .half,.un-v1 .row-4 .double,.un-v1 .row-4 .extended {
    width: 45%;
    margin-right: 5%;
    padding-top: 6px;
    padding-bottom: 12px
  }

  .un-v1 .row-4 .half {
    width: 50%
  }

  .un-v1 .row-4 .double {
    width: 95%
  }

  .un-v1 .row-4 .extended {
    width: 70%
  }

  .un-v1 .row-4 {
    padding-top: 0;
    padding-bottom: 0
  }

  .un-v1 table th:not(.noHide),.un-v1 table td:not(.noHide) {
    display: none
  }
}

@media (max-width: 599px) {
  #more-info-panel {
    min-width:100%;
    max-width: 100%;
    padding: 60px 20px
  }

  #more-info-panel button.close {
    top: 20px;
    right: 20px
  }
}

@media (min-width: 0) and (max-width:599px) {
  .hide-mobile {
    display:none
  }

  .un-v1 .single,.un-v1 .two-cols {
    width: 95%
  }

  .un-v1 .row-4 .single,.un-v1 .row-4 .half,.un-v1 .row-4 .double,.un-v1 .row-4 .extended {
    width: 100%;
    margin-right: 0;
    padding-top: 6px;
    padding-bottom: 12px
  }

  .un-v1 .row-4 .half {
    width: 50%
  }

  .un-v1 .row-4 .double {
    width: 100%
  }

  .un-v1 .row-4 .extended {
    width: 100%
  }

  .un-v1 .row-4 {
    padding-top: 0;
    padding-bottom: 0
  }

  .un-v1 .two-cols .left,.un-v1 .two-cols .right {
    width: 100%
  }

  .halfsingle {
    width: 100%;
    display: block
  }
}
