.download {
  height: 35px;
}
.download .icon-download {
  background-image: url("../css/download_icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
  height: 13px;
  display: block;
}
.result-holder {
  margin-top: 30px;
  margin-bottom: 50px;
}
.more-agreement {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.agreement-dl {
  margin: 0!important;
}
.agreement-dl.open-dl {
  margin: 10px 0!important;
}
.agreement-dl dt {
  display: flex;
  align-items: center;
  justify-content: center;
}
.agreement-dl dd {
  display: none;
}
.agreement-dl .dropdown {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.agreement-dl thead tr th {
  font-weight: bold;
  text-transform: none;
  color: black;
}
.agreement-dl tbody tr td {
  font-weight: normal;
  text-transform: none;
  color: black;
}
.agreement-dl .aggrement-index {
  margin-right: 25px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.agreement-dl .show-btn {
  margin-right: 10px;
}
.agreement-dl ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.agreement-dl ul li {
  box-sizing: border-box;
  border-bottom: 1px solid #818181;
  display: flex;
  padding: 0 25px;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.agreement-dl ul td {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: none!important;
}
.agreement-dl ul th {
  padding-bottom: 12px;
  padding-top: 12px;
}
.agreement-dl ul .aggrement-index {
  color: #808080;
  font-size: 16px;
  font-weight: normal;
}
.agreement-dl .header-table {
  padding: 0px 25px;
  background-color: #fafafa;
  border-bottom: 1px solid black;
}
.agreement-dl .header-table table {
  margin-right: 20px;
}
.agreement-dl .header-table th {
  padding-bottom: 15px;
  padding-top: 15px;
}
.agreement-dl .header-table td {
  padding-top: 7px;
  padding-bottom: 7px ;
}
