.download {
  height: 35px;
}
.download .icon-download {
  background-image: url("../css/download_icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
  height: 13px;
  display: block;
}
.result-holder {
  margin-top: 30px;
  margin-bottom: 50px;
}
.agreements {
  display: none;
}
.agreements .agreements-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.agreements td {
  width: 100%;
  border-bottom: none!important;
}
.agreements tr {
  border-bottom: none!important;
}
.agreements ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.agreements ul li {
  width: 200px;
  text-align: center;
  padding: 10px 0px;
  border-right: 1px solid #ddd;
}
.agreements ul.thead {
  font-weight: bold;
}
.result-tr {
  background-color: #f9f9f9;
}
.more-agreement {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.accordion-table {
  margin: 0!important;
}
.accordion-table .buttons {
  display: flex;
  border-bottom: none;
  padding: 0;
  padding-left: 10px;
  height: 100%;
  border-left: none!important;
  background-color: white;
}
.accordion-table .dropdown {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.accordion-table .show-btn,
.accordion-table .download {
  transform: scale(0.9);
}
.accordion-table thead {
  padding: 0px 15px;
  background-color: #eeeeee;
}
.accordion-table thead tr th {
  font-weight: bold;
  text-transform: none;
  color: black;
  padding: 20px 10px!important;
  text-align: center;
}
.accordion-table tbody tr td {
  font-weight: normal;
  text-transform: none;
  color: black;
  text-align: center!important;
  vertical-align: middle;
}
.accordion-table .border-right-none {
  border-right: none!important;
}
.accordion-table .agreement-table td {
  padding-top: 12px;
  padding-bottom: 12px;
}
.accordion-table .show-btn {
  margin-right: 5px;
  font-size: 22px;
  font-weight: bold;
  width: 40px;
}
