.download {
  height: 35px;

  .icon-download {
    background-image: url("../css/download_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 13px;
    height: 13px;
    display: block;
  }
}

.result-holder {
  margin-top: 30px;
  margin-bottom: 50px;
}

.more-agreement {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.agreement-dl {
  margin: 0!important;

  &.open-dl {
    margin: 10px 0!important;
  }

  dt {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  dd {
    display: none;
  }

  .dropdown {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  thead tr th  {
    font-weight: bold;
    text-transform: none;
    color: black;
  }

  tbody tr td {
    font-weight: normal;
    text-transform: none;
    color: black;
  }

  .aggrement-index {
    margin-right: 25px;
    font-size: 18px;
    font-weight: bold;
    color: black;
  }

  .show-btn {
    margin-right: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      box-sizing: border-box;
      border-bottom: 1px solid #818181;
      display: flex;
      padding: 0 25px;
      justify-content: start;
      align-items: center;
      width: 100%;
    }

    td {
      padding-bottom: 5px;
      padding-top: 5px;
      border-bottom: none!important;
    }

    th {
      padding-bottom: 12px;
      padding-top: 12px;
    }

    .aggrement-index {
      color: #808080;
      font-size: 16px;
      font-weight: normal;
    }

  }

  .header-table {
    padding: 0px 25px;
    background-color: #fafafa;
    border-bottom: 1px solid black;

    table {
      margin-right: 20px;
    }

    th {
      padding-bottom: 15px;
      padding-top: 15px;
    }

    td {
      padding-top: 7px;
      padding-bottom: 7px ;
    }
  }
}
